<div [ngClass]="{
  'first-order-child': childOrder%3 === 0, 
  'second-order-child': childOrder%3 === 1, 
  'third-order-child': childOrder%3 === 2,
  'animate-border': animate
  }">
  <p [ngClass]="{
    'animate-text': animate
    }">
    comment {{commentNumber}} works!
  </p>
  <button (click)="onReply()" (mouseover)="onHover()"  (mouseleave)="onMouseLeave()">reply</button>
  <ng-container *ngFor="let reply of commentReplies; index as index">
    <app-comment [childOrder]="index" (childEvent)="onReceiveChildEvent($event)"></app-comment>
  </ng-container>
</div>
